body {font-family: Arial;}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	/* border: none; */
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border: 2px solid #7c7a7a;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

img.zoom {
	-moz-user-select: none; user-select: none;
}
img.zoom:hover {
	display: block;
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-width: 99%;
	max-height: 99%;
	border: solid rgba(210,210,210,.4);
	border-width: 100vh 100vw;
	cursor: zoom-out;
}
:not(:active) > img.zoom:not(:hover), img.zoom:active {
	pointer-events: none;
}
/* не идеально: transition-property не поддерживает свойство position. В результате, если переключить вкладку браузера, то картинка становится вновь маленькой. */